# <center>Лабораторная работа #1
## <center>Анализ данных Олимпийский игр с помощью Pandas

### Задача
В этом задании десять вопросов о 120-летней олимпийской истории. Ваша задача — заполнить недостающий код Python и выполнить вычисления в ячейках ниже

Скачайте файл `athlete_events.csv`, ссылка [Здесь](https://drive.google.com/file/d/1f5v6Z2ayc7h698FG_98wP5x1Y2zZQeox/view?usp=sharing). Датасет следующие данные :

- __ID__ - Уникальный номер каждого атлета
- __Name__ - Имя атлета
- __Sex__ - Пол('M'или 'F')
- __Age__ - Возраст (Integer)
- __Height__ - Рост( в сантиметрах)
- __Weight__ - Вес(в килограммах)
- __Team__ - Название команды
- __NOC__ - Трехбуквенный код национального олимпийского комитета
- __Games__ - Год и сезон
- __Year__ - Год (Integer)
- __Season__ - Лето или зима
- __City__ - Принимающий город
- __Sport__ - Название спорта
- __Event__ - Соревнование
- __Medal__ - Вид медали(Золото, серебро, бронза или NA)

In [2]:
import numpy as np
import pandas as pd

In [3]:
data = pd.read_csv('athlete_events.csv')

__1. Сколько лет было самым юным участникам Олимпийских игр 1992 года среди мужчин и женщин?__

- 16 и 15
- 14 и 13
- 13 и 11
- 11 и 12

In [3]:
data[(data['Year'] == 1992) & (data['Sex'] == 'M')]['Age'].min()

11.0

In [4]:
data[(data['Year'] == 1992) & (data['Sex'] == 'F')]['Age'].min()

12.0

__2. Какой процент составляют баскетболисты-мужчины среди всех участников-мужчин Олимпиады-2012? Округлите ответ до первого знака после запятой..__

*Подсказка:*  здесь и далее при необходимости отбрасывайте дублирующихся спортсменов, чтобы считать только уникальных.

- 0.2
- 1.5 
- 2.5
- 7.7

In [131]:
basket = data[(data['Year'] == 2012) & (data['Sex'] == 'M') & (data['Sport'] == 'Basketball')]['ID'].unique().size
all = data[(data['Year'] == 2012) & (data['Sex'] == 'M')]['ID'].unique().size
round(basket/all, 2)

0.02

__3. Каковы среднее значение и стандартное отклонение роста теннисисток, участвовавших в Олимпийских играх 2000 года? Округлите ответ до первого знака после запятой.__

- 171.8 и 6.5
- 179.4 и 10
- 180.7 и 6.7
- 182.4 и 9.1

In [45]:
avgheight = data[(data['Year'] == 2000) & (data['Sex'] == 'F') & (data['Sport'] == 'Tennis')]['Height'].mean()
avgall = data[(data['Year'] == 2000) & (data['Sex'] == 'F') & (data['Sport'] == 'Tennis')]['Height'].std()
print(round(avgheight,1), 'и', round(avgall,1))

171.8 и 6.5

__4. Найдите спортсмена, участвовавшего в Олимпиаде 2006 года, с наибольшим весом среди других участников той же Олимпиады. Каким видом спорта он или она занимались?__

- Judo
- Bobsleigh 
- Skeleton
- Boxing

In [129]:
weight = data[(data['Year'] == 2006)]['Weight'].max()
sport = data[(data['Year'] == 2006) & (data['Weight'] == weight)]['Sport'].values[0]
sport

'Skeleton'

__5. Сколько раз John Aalberg участвовал в Олимпиадах, проводившихся в разные годы?__

- 0
- 1 
- 2 
- 3

In [70]:
name = data[(data['Name'] == 'John Aalberg')]['Year'].unique().size
name

2

__6. Сколько золотых медалей в теннисе завоевали спортсмены сборной Швейцарии(Switzerland) на Олимпиаде-2008? Считайте каждую медаль от каждого спортсмена.__

- 0
- 1 
- 2
- 3

In [76]:
medal = data[(data['Year'] == 2008) & (data['Team'] == 'Switzerland') & (data['Sport'] == 'Tennis') & (data ['Medal'] == 'Gold')]['ID'].unique().size
medal

2

__7. Правда ли, что на Олимпиаде-2016 Испания(_Spain_) завоевала меньше медалей, чем Италия(_Italy_)? Не учитывайте значения _NaN_ в столбце _Medal_ column.__

- Да
- Нет

In [83]:
spain = data[(data['Year'] == 2016) & (data['Team'] == 'Spain')]['Medal'].count()
italy = data[(data['Year'] == 2016) & (data['Team'] == 'Italy')]['Medal'].count()
print("Да")

Да

__8. К какой возрастной категории относилось меньше всего и больше всего участников Олимпиады-2008?__

- [45-55] и [25-35) соответственно
- [45-55] и [15-25) соответственно
- [35-45) и [25-35) соответственно
- [45-55] и [35-45) соответственно

In [110]:
age1 = data[(data['Year'] == 2008) & (data['Age'] <= 55) & (data['Age'] >= 45)]['ID'].unique().size
age2 = data[(data['Year'] == 2008) & (data['Age'] < 45) & (data['Age'] >= 35)]['ID'].unique().size
age3 = data[(data['Year'] == 2008) & (data['Age'] < 35) & (data['Age'] >= 25)]['ID'].unique().size
age4 = data[(data['Year'] == 2008) & (data['Age'] < 25) & (data['Age'] >= 15)]['ID'].unique().size
age1, age2, age3, age4

print(f'45-55: {age1}, 35-45: {age2}, 25-35: {age3}, 15-25: {age4}')
print("[45-55] и [25-35)")

45-55: 78, 35-45: 630, 25-35: 5382, 15-25: 4786
[45-55] и [25-35)

In [20]:
# pd.cut(data['Age'], bins=4).value_counts()
pd.cut(data['Age'],
    bins=np.linspace(15, 55, 5)).value_counts()

(15.0, 25.0]    147561
(25.0, 35.0]     94417
(35.0, 45.0]     12562
(45.0, 55.0]      2793
Name: Age, dtype: int64

__9. Правда ли, что в Атланте(Atlanta) проводились летние Олимпийские игры? Правда ли, что в Скво-Вэлли(Squaw Valley) проходили зимние Олимпийские игры?__

- Да, Да
- Да, Нет
- Нет, Да
- Нет, Нет

In [100]:
atlan = data[(data['Season'] == 'Summer') & (data['City'] == 'Atlanta')]['Year'].unique().size
squaw = data[(data['Season'] == 'Winter') & (data['City'] == 'Squaw Valley')]['Year'].unique().size

if (atlan != 0): 
    print("Да")
else: print("Нет"),
if (squaw != 0): 
    print("Да")
else: print("Нет")

Да
Да

__10. Какова абсолютная разница между количеством уникальных видов спорта на Олимпийских играх 1986 года и Олимпийских играх 2002 года?__

- 3 
- 10
- 15
- 27

In [108]:
sport1 = data[(data['Year'] == 1986)]['Sport'].unique().size
sport2 = data[(data['Year'] == 2002)]['Sport'].unique().size
sport2-sport1

15